---
layout: layout.njk
title: "404: Not found"
permalink: /404.html
eleventyExcludeFromCollections: true
---
<main class="prose">
  <h2>Not found</h2>
  <p>You just hit a route that doesn&rsquo;t exist&hellip; the sadness.</p>
</main>
