---
layout: layout.njk
title: Home
---
<aside class="quote">
  <blockquote>
    <p>Music is a language that anyone can learn to speak.</p>
  </blockquote>
  <cite>Dr. Shinichi Suzuki</cite>
</aside>
<div class="cards">
  <a class="card" data-button href="/method/">
    <img src="/assets/images/home__method.jpg" alt="" sizes="(min-width: 67.5em) 20em, (min-width: 38.75em) 30vw, 96vw">
    How does it work?
  </a>
  <a class="card" data-button href="/teacher/">
    <img src="/assets/images/home__teacher.jpg" alt="" sizes="(min-width: 67.5em) 20em, (min-width: 38.75em) 30vw, 96vw">
    Who is the teacher?
  </a>
  <a class="card" data-button href="/tuition/">
    <img src="/assets/images/home__tuition.jpg" alt="" sizes="(min-width: 67.5em) 20em, (min-width: 38.75em) 30vw, 96vw">
    How do I begin?
  </a>
</div>
