---
layout: layout.njk
title: Teacher
---
<main class="prose">
  <h2>Who is the teacher?</h2>
  <p>
    <strong>Susi Forshey</strong> has been a lifelong student of the Suzuki
    method. Beginning at age 4, she took piano lessons from Suzuki instructors
    all the way through high school and into her college years. She started
    her own private studio as a home business when she was just 13 years old
    in Halifax County, Virginia&mdash;beginning with a few neighbor children.
  </p>
  <p>
    <img class="prose-img" src="/assets/images/teacher__who.jpg" alt="Susi Forshey in her piano studio, smiling." sizes="(min-width: 25em) 14rem, 92vw">
    Its growth and success inspired her to receive official teacher training
    from the Suzuki Association&rsquo;s teacher trainers. She was lucky enough
    to apprentice for a few summers in the studio of Gretchen Smith of
    Greenville, NC. Gretchen is a master teacher-trainer, a Matsumoto graduate
    of the Talent Education Institute in Japan, and has taught Suzuki method
    in the US since its introduction to our country in the early
    1980&rsquo;s. Susi completed training with Gretchen in 2002 and is
    registered with the Suzuki Association of the Americas through level 4.
    She has continued to pursue educational workshops and master classes with
    the SAA and Matsumoto graduates, earning a &ldquo;Suzuki Principles in
    Action&rdquo; certification in Tacoma, WA in 2013. She recently added some
    training in Kod&aacute;ly instruction to her repertoire to help enrich her
    studio environment through singing, music games, and group classes.
  </p>
  <p>
    After spending a decade on the West Coast where she taught piano at
    &ldquo;Suzuki Olympia&rdquo;, she has recently returned to the Lynchburg
    area, and is opening a new studio in her home in Sandusky. She now offers
    classes to students of all ages in Lynchburg, including one-on-one piano
    instruction, Kod&aacute;ly-style group singing and music
    exploration/enrichment classes, voice lessons for children, recitals, and
    group music sessions throughout the year. She has 3 children of her own,
    with a 4th due in April. All 3 of her children play the piano, as well as
    other instruments. They enjoy solos, duets, playing by ear, improvisation,
    performing in recitals, playing for the elderly, singing, and acting as
    part of their homeschool.
  </p>
  <div class="video-wrapper">
    <video controls playsinline preload="metadata" poster="/spring-2015-recital.jpg">
      <source src="{{ site.recitalVideoUrl }}" type="video/mp4">
      <track default kind="captions" srclang="en" src="/spring-2015-recital.vtt">
    </video>
  </div>
</main>
